# Entornos virtuales
venv/
.venv/
env/
ENV/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de VS Code
.vscode/

# Archivos de distribución
*.egg-info/

# Resultados generados
src/resultados/